<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            {{ title }}
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        <a href="{% url 'machine_list_front' plugin '128' %}" class="btn btn-success">
                        <span class="bigger"> {{ 128_count }} </span><br />
                        {{ 128_label }}
          </a>
	<a href="{% url 'machine_list_front' plugin '256' %}" class="btn btn-success">
                        <span class="bigger"> {{ 256_count }} </span><br />
                        {{ 256_label }}
          </a>
	<a href="{% url 'machine_list_front' plugin '512' %}" class="btn btn-success">
                        <span class="bigger"> {{ 512_count }} </span><br />
                        {{ 512_label }}
          </a>
	<a href="{% url 'machine_list_front' plugin '1024' %}" class="btn btn-success">
                        <span class="bigger"> {{ 1024_count }} </span><br />
                        {{ 1024_label }}
          </a>
</div>
</div>
</div>
